<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uni.wt.admin.model.dao.AdminMapper">
	<!-- employee resultMap -->
	<resultMap type="Employee" id="employeeResultSet">
		<id property="emp_no" column="EMP_NO"/>
		<result property="dept_code" column="DEPT_CODE"/>
		<result property="sub_dept_code" column="SUB_DEPT_CODE"/>
		<result property="job_code" column="JOB_CODE"/>
		<result property="join_date" column="JOIN_DATE"/>
		<result property="resignation_date" column="RESIGNATION_DATE"/>
		<result property="file_no" column="FILE_NO"/>
		<result property="create_date" column="CREATE_DATE"/>
		<result property="dept_name" column="DEPT_NAME"/>
		<result property="job_name" column="JOB_NAME"/>
	</resultMap>
	
	<!-- dept resultMap -->
	<resultMap type="Department" id="departmenteResultSet">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="deptLevel" column="DEPT_LEVEL"/>
		<result property="upperDeptCode" column="UPPER_DEPT_CODE"/>
	</resultMap>

	<!-- 가입승인 -->
	<!-- 페이지 조회 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE 
		WHERE STATUS='W'
		OR STATUS='R'
	</select>
	
	<!-- 가입 승인 대기, 거부 list 조회 -->
	<select id="selectList" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE STATUS='W'
		OR STATUS='R'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 가입 대기 리스트 조회 -->
	<select id="watingListCount" resultMap="employeeResultSet">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE STATUS='W'		
	</select>
	
	<!-- 가입 대기 리스트 조회 -->
	<select id="watingList" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE STATUS='W'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 가입 승인 -->
	<update id="adminApproval" parameterType="_int">
		UPDATE EMPLOYEE
		SET STATUS='I'
		WHERE EMP_NO=#{emp_no}
		AND NOT STATUS IN ('Q')
	</update>
	
	<!-- 승인 거부 -->
	<update id="adminReject" parameterType="_int">
		UPDATE EMPLOYEE
		SET STATUS='R'
		WHERE EMP_NO=#{emp_no}
		AND NOT STATUS IN ('Q')
	</update>
	
	<!-- 거부 사유 작성 -->
	<update id="rejectReason" parameterType="Map">
		UPDATE EMPLOYEE
		SET REJECT_REASON=#{rComment}
		WHERE EMP_NO=#{empNo}
	</update>
	
	
	<!-- 부서 관리 -->
	<!-- 부서 조회 -> 계층형 쿼리 -->
	<select id="selectUpperList" resultMap="departmenteResultSet">
		SELECT *
		FROM DEPARTMENT
		START WITH UPPER_DEPT_CODE IS NULL
		CONNECT BY PRIOR DEPT_CODE=UPPER_DEPT_CODE		
	</select>
	
	<!-- 부서 추가 -->
	<insert id="addDeptList" parameterType="Map">
		INSERT INTO DEPARTMENT		
		VALUES(DEPT_SEQ.NEXTVAL, #{addDeptName}, 1, 1)
	</insert>
	
	<!-- 하위 부서 추가 -->
	<insert id="addUpperDeptList" parameterType="Map">
		INSERT INTO DEPARTMENT		
		VALUES(DEPT_SEQ.NEXTVAL, #{addDeptName}, 2, #{upperDeptCode})
	</insert>
	
	<!-- 부서 삭제 -->
	<delete id="deleteDeptList" parameterType="_int">
		DELETE FROM 
		(SELECT *
		FROM DEPARTMENT
		WHERE DEPT_CODE 
		IN (SELECT DEPT_CODE
		    FROM DEPARTMENT
		    WHERE UPPER_DEPT_CODE=#{deptCode})
		    OR DEPT_CODE=#{deptCode})
	</delete>
	
	<!-- 부서명 수정 -->
	<update id="updateDeptList" parameterType="Map">
		UPDATE DEPARTMENT
		SET DEPT_NAME=#{deptName}
		WHERE DEPT_CODE=#{deptCode}
	</update>
	
	<!-- 인사 관리 -->
	<!-- 인사 관리 리스트 count 조회 -->
	<select id="empListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE STATUS='I'
		OR STATUS='Q'
	</select>
	
	<!-- 인사 관리 리스트 조회 -->
	<select id="selectEmpList" resultMap="employeeResultSet">
		SELECT 
		    A.*,
		    DEPT_NAME,
		    JOB_NAME
		FROM EMPLOYEE A
		LEFT JOIN DEPARTMENT B ON(A.DEPT_CODE=B.DEPT_CODE)
		LEFT JOIN JOB C ON (A.JOB_CODE=C.JOB_CODE)
		WHERE STATUS='I'
		OR STATUS='Q'
		ORDER BY JOIN_DATE DESC
	</select>
	
	<!-- 사원 추가 -->
	<insert id="addEmployee" parameterType="Employee">
		INSERT INTO EMPLOYEE
		VALUESE(EMP_SEQ.NEXTVAL, #{name} ,#{id}, #{password}, #{email}, #{phone}, #{birth}, #{dept_code}, #{upper_dept_code}, #{job_code}, #{join_date}, NULL, DEFAULT, DEFAULT, NULL, SYSDATE, NULL)
	</insert>
</mapper>
        
