<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uni.wt.common.notice.dao.NoticeMapper">

<insert id="insertNotice" parameterType="Notice">
INSERT INTO NOTICE
VALUES(NO_SEQ.NEXTVAL, #{emp_no}, #{type}, #{content}, #{url}, SYSDATE, NULL)
</insert>
  
</mapper>
