<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uni.wt.project.schedule.model.dao.ScheduleMapper">
    <resultMap type="Schedule" id="scheduleSet">
        <id property="board_no" column="BOARD_NO"/>
        <result property="sch_title" column="SCH_TITLE"/>
        <result property="sch_content" column="SCH_CONTENT"/>
        <result property="sch_attendee" column="SCH_ATTENDEE"/>
        <result property="sch_start" column="SCH_START"/>
        <result property="sch_end" column="SCH_END"/>
        <result property="sch_place" column="SCH_PLACE"/>
        <result property="name" column="NAME"/>
        <result property="create_date" column="CREATE_DATE"/>
        <result property="count" column="COUNT"/>
        <result property="emp_no" column="EMP_NO"/>
        <result property="status" column="STATUS"/>
    </resultMap>
    <resultMap type="Employee" id="employeeSet">
        <id property="emp_no" column="EMP_NO"/>
        <result property="dept_code" column="DEPT_CODE"/>
        <result property="upper_dept_code" column="UPPER_DEPT_CODE"/>
        <result property="job_name" column="JOB_NAME"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <select id="detailView" parameterType="int" resultMap="scheduleSet">
        SELECT TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD HH24:MI') AS CREATE_DATE, B.COUNT, A.*, C.NAME, C.EMP_NO
        FROM BOARD_SCHEDULE A
                 JOIN PJ_BOARD B
                      ON A.BOARD_NO = B.BOARD_NO
                 JOIN EMPLOYEE C
                      ON B.WRITER = C.EMP_NO
        WHERE B.BOARD_NO = #{board_no}
    </select>
    <insert id="insertSch" parameterType="Schedule">
        INSERT INTO BOARD_SCHEDULE
        VALUES (#{board_no}, #{sch_title}, #{sch_attendee}, TO_DATE(#{sch_start}, 'YYYY/MM/DD HH24:MI'),
                TO_DATE(#{sch_end}, 'YYYY/MM/DD HH24:MI'), #{sch_place}, #{sch_content})
    </insert>
    <update id="editSch" parameterType="Schedule">
        UPDATE BOARD_SCHEDULE
        SET SCH_TITLE    = #{sch_title},
            SCH_ATTENDEE = #{sch_attendee},
            SCH_START    = TO_DATE(#{sch_start}, 'YYYY/MM/DD HH24:MI'),
            SCH_END      = TO_DATE(#{sch_end}, 'YYYY/MM/DD HH24:MI'),
            SCH_PLACE    = #{sch_place},
            SCH_CONTENT  = #{sch_content}
        WHERE BOARD_NO = #{board_no}
    </update>
    <update id="schJoin" parameterType="Schedule">
        MERGE INTO SCH_ATTENDEE
        USING DUAL
        ON (EMP_NO = #{emp_no}
            AND BOARD_NO = #{board_no})
        WHEN MATCHED THEN
            UPDATE
            SET STATUS = #{status}
        WHEN NOT MATCHED THEN
            INSERT
                (BOARD_NO, EMP_NO, STATUS)
            VALUES (#{board_no}, #{emp_no}, #{status})
    </update>
    <select id="loadSchAttendee" parameterType="Schedule" resultType="int">
        SELECT COUNT(*)
        FROM SCH_ATTENDEE
        WHERE BOARD_NO = #{board_no}
          AND STATUS = #{status}
    </select>
    <select id="selectSchAttendee" parameterType="int" resultMap="employeeSet">
        SELECT B.EMP_NO, B.NAME, C.JOB_NAME
        FROM SCH_ATTENDEE A
                 JOIN EMPLOYEE B
                      ON A.EMP_NO = B.EMP_NO
                 LEFT JOIN JOB C
                           ON B.JOB_CODE = C.JOB_CODE
        WHERE A.BOARD_NO = #{board_no}
          AND A.STATUS = 'Y'
          AND B.STATUS != 'Q'
    </select>
    <select id="getCalendarByMonth" parameterType="map" resultMap="scheduleSet">
        SELECT TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD HH24:MI') AS CREATE_DATE, B.COUNT, C.NAME, C.EMP_NO, A.*
        FROM BOARD_SCHEDULE A
        JOIN PJ_BOARD B
        ON A.BOARD_NO = B.BOARD_NO
        JOIN EMPLOYEE C
        ON B.WRITER = C.EMP_NO
        WHERE B.PJ_NO = #{pj_no}
        <if test="date != null">
            AND (TO_CHAR(SCH_START, 'YYYY-MM HH24:MI') = #{date}
            OR TO_CHAR(SCH_END, 'YYY-MM HH24:MI') = #{date})
        </if>
    </select>
    <select id="getCalendarByEmp" parameterType="int" resultMap="scheduleSet">
        SELECT TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD HH24:MI') AS CREATE_DATE, B.COUNT, C.NAME, C.EMP_NO, A.*
        FROM BOARD_SCHEDULE A
                 JOIN PJ_BOARD B
                      ON A.BOARD_NO = B.BOARD_NO
                 JOIN EMPLOYEE C
                      ON B.WRITER = C.EMP_NO
                 JOIN SCH_ATTENDEE D
                      ON B.BOARD_NO = D.BOARD_NO
                 JOIN PROJECT E
                      ON B.PJ_NO = E.PJ_NO
        WHERE D.EMP_NO = #{emp_no}
          AND D.STATUS = 'Y'
          AND E.STATUS = 'Y'

    </select>

</mapper>