<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.uni.wt.employee.model.dto.Employee" alias="Employee"/>
		<typeAlias type="com.uni.wt.workState.model.dto.WorkState" alias="WorkState"/>
		<typeAlias type="com.uni.wt.project.model.dto.Project" alias="Project"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/workState-mapper.xml"/>
		<mapper resource="/mappers/project-mapper.xml"/>
	</mappers>
	
</configuration>
