<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.uni.wt.employee.model.dto.Employee" alias="Employee"/>
        <typeAlias type="com.uni.wt.workState.model.dto.WorkState" alias="WorkState"/>
        <typeAlias type="com.uni.wt.project.model.dto.Project" alias="Project"/>
        <typeAlias type="com.uni.wt.project.projectMember.model.dto.ProjectMember" alias="ProjectMember"/>
        <typeAlias type="com.uni.wt.project.projectMember.model.dto.ProjectTag" alias="ProjectTag"/>
        <typeAlias type="com.uni.wt.project.boardAll.model.dto.BoardAll" alias="BoardAll"/>
        <typeAlias type="com.uni.wt.project.post.model.dto.Post" alias="Post"/>
        <typeAlias type="com.uni.wt.admin.model.dto.Department" alias="Department"/>
        <typeAlias type="com.uni.wt.common.dto.FileDto" alias="FileDto"/>
        <typeAlias type="com.uni.wt.workState.model.dto.Vacation" alias="Vacation"/>
        <typeAlias type="com.uni.wt.requestWork.model.dto.RequestWork" alias="RequestWork"/>
        <typeAlias type="com.uni.wt.admin.model.dto.EmployeeSearchCondition" alias="EmployeeSearchCondition"/>
        <typeAlias type="com.uni.wt.common.notice.dto.Notice" alias="Notice"/>
    </typeAliases>

    <mappers>
        <mapper resource="/mappers/employee-mapper.xml"/>
        <mapper resource="/mappers/workState-mapper.xml"/>
        <mapper resource="/mappers/project-mapper.xml"/>
        <mapper resource="/mappers/projectMember-mapper.xml"/>
        <mapper resource="/mappers/boardAll-mapper.xml"/>
        <mapper resource="/mappers/post-mapper.xml"/>
        <mapper resource="/mappers/admin-mapper.xml"/>
        <mapper resource="/mappers/file-mapper.xml"/>
        <mapper resource="/mappers/requestWork-mapper.xml"/>
        <mapper resource="/mappers/notice-mapper.xml"/>
    </mappers>

</configuration>
